<ul class="flex flex-row" x-data="{open: false}">
  {% for p in pages.children.visible|slice(0, 4) %}
    <li class="{{ p.active|e }}">
      <a class="px-4 cursor-pointer py-1 block rounded-full border-4 border-transparent hover:border-green-800 transition-all duration-200" 
      {% if p.header.big_menu.enabled  %}
      @click="open = '{{p.slug}}'"
      {% else %}
      href="/owners/property-management-services"
      {% endif %}
      >
      {{p.menu}}
      </a>
      {% if page.template == 'areas' %}
      {% include 'partials/navigation/areas.html.twig' with {
        page: p
      } %}
      {% else %}
      {% include 'partials/navigation/big.html.twig' with {
        page: p
      } %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
