@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-green-900;
    font-family: "agenda", "Helvetica Neue", "Arial", sans-serif;
  }
  body {
    @apply text-xl;
  }
  [x-cloak] {
    display: none !important;
  }
  .pretitle {
    @apply text-2xl font-bold text-green-500 transition-all duration-500 ease-in-out;
  }
  .h1 {
    @apply text-7xl leading-[0.8] font-bold my-5 block relative transition-all duration-500 ease-out;
  }
  .h2 {
    @apply text-6xl  leading-[0.8] font-bold my-5 block relative transition-all duration-500 ease-out;
  }
  .h3 {
    @apply text-4xl  leading-[0.8] font-bold block relative transition-all duration-500 ease-out;
  }
  .btn {
    @apply border-4 border-green-700 text-green-700 text-lg font-bold rounded-full px-5 py-2 inline-block mt-6;
  }
  .content ul {
    @apply list-disc mb-8 pl-4;
  }

  .content h2,
  .content .h2 {
    @apply text-3xl lg:text-4xl mb-4 mt-8 font-bold;
  }

  .content h3,
  .content .h3 {
    @apply text-2xl lg:text-3xl mb-3 mt-6 font-bold;
  }

  .content h4,
  .content .h4 {
    @apply text-xl lg:text-2xl mb-2 mt-4 font-bold;
  }

  .content h5,
  .content .h5 {
    @apply font-bold;
    font-size: 1.25rem;
  }
  .content p {
    @apply mb-8;
  }
}
