<ul class="flex flex-row">
  {% for page in pages.children.visible %}
    <li class="{{ page.active|e }}">
      <a class="p-3" href="{{ page.url|e }}">{{ page.menu|e }}</a>
    </li>
  {% endfor %}
</ul>
