<div class="container mx-auto flex flex-row px-20 py-10" x-data{
  circle: {
    inView: false,
    hidden: "-bottom-full",
    visible:""
  }
}>
  <div class="w-1/2">
    <h1 class="text-2xl font-bold text-green-500">
      Boise Property Management
    </h1>
    <div class="text-7xl leading-[0.8] font-bold my-5 block relative">
      {{
        svg_image(
          'theme://images/zig-zag-square.svg', 
          'text-green-200 -top-5 -left-16 absolute z-0'
        )|raw
      }}
      <span class="relative z-10">Maximize your Rental Property Earnings</span>
    </div>
    <div class="pr-20" >
      <div class="py-5">
         property mangement services from Keyrenter Boise, you can
        get more from your property, without any hassle.
      </div>
    </div>
  </div>
  <div class="w-1/2 relative group overflow-hidden scale-110 origin-bottom-right">
    {{
      page.media[page.header.featured_image].html(
        page.title,
        '',
        'w-3/4 mx-auto relative z-10'
      )|raw
    }}
    {{svg_image('theme://images/rental-things.svg','absolute bottom-0 left-0 z-20')}}
    <div class="bg-green-900 h-0.5 w-full duration-500 origin-center block absolute bottom-0 z-10" :class=""></div>
    <div class="bg-green-300 absolute bottom-0  h-3/4 w-3/4 left-[12.5%] rounded-t-full" :class="circle.inView ? circle.visible : circle.hidden"></div>
  </div>
</div>
